body {
    margin: 0;
    overflow: hidden; /* Evitar el desplazamiento del cuerpo */
    height: 100vh; /* Asegurar que el cuerpo ocupe toda la altura */
}

.map {
    position: absolute; /* Cambiar a absolute */
    top: 0; /* Asegurarse de que el mapa esté en la parte superior */
    left: 0; /* Asegurarse de que el mapa esté a la izquierda */
    width: 100vw; /* Ocupa el 100% del ancho de la ventana */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    overflow: auto; /* Permitir desplazamiento */
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* Color de fondo */
}

.node {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    border: 1px solid #007BFF;
    transition: transform 0.2s;
}

.node:hover {
    transform: scale(1.1); /* Aumentar el tamaño al pasar el mouse */
}
